In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a dataframe

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jalu,LY,2022-08-31 02:00:48,29.0331,21.5482,80.60,42,0,6.73
1,1,Albany,US,2022-08-31 02:00:48,42.6001,-73.9662,69.62,91,100,8.37
2,2,Saint-Philippe,RE,2022-08-31 02:00:49,-21.3585,55.7679,71.19,80,73,10.40
3,3,Bluff,NZ,2022-08-31 02:00:49,-46.6000,168.3333,62.80,59,78,13.02
4,4,Hermanus,ZA,2022-08-31 02:00:50,-34.4187,19.2345,52.81,76,0,23.11

In [4]:
# GEt the city data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
    
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()


# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temps in max_temp], dissipating=False,
                                max_intensity=300, point_radius=4)

# size the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add heat layer to map
fig.add_layer(heat_layer)

In [8]:
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jalu,LY,2022-08-31 02:00:48,29.0331,21.5482,80.60,42,0,6.73
5,5,Mareeba,AU,2022-08-31 02:00:50,-17.0000,145.4333,81.45,58,2,9.08
12,12,Kapaa,US,2022-08-31 02:00:53,22.0752,-159.3190,83.48,70,10,5.01
26,26,Bengkulu,ID,2022-08-31 01:58:23,-3.8004,102.2655,80.15,78,65,0.34
27,27,Nishihara,JP,2022-08-31 02:01:08,26.1842,127.7558,88.88,74,75,28.77
32,32,Faanui,PF,2022-08-31 02:01:09,-16.4833,-151.7500,78.24,69,0,15.01
33,33,Butaritari,KI,2022-08-31 02:01:10,3.0707,172.7902,82.08,72,27,18.90
39,39,Hot Springs,US,2022-08-31 01:58:07,34.5037,-93.0552,83.62,81,75,6.91
40,40,Shingu,JP,2022-08-31 02:01:12,33.7333,135.9833,85.06,74,20,5.84
41,41,Hithadhoo,MV,2022-08-31 02:01:12,-0.6000,73.0833,81.25,76,60,15.93

In [14]:
# print
preferred_cities_df.count()

City_ID       203
City          203
Country       203
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0          Jalu      LY     80.60  29.0331   21.5482
5       Mareeba      AU     81.45 -17.0000  145.4333
12        Kapaa      US     83.48  22.0752 -159.3190
26     Bengkulu      ID     80.15  -3.8004  102.2655
27    Nishihara      JP     88.88  26.1842  127.7558
32       Faanui      PF     78.24 -16.4833 -151.7500
33   Butaritari      KI     82.08   3.0707  172.7902
39  Hot Springs      US     83.62  34.5037  -93.0552
40       Shingu      JP     85.06  33.7333  135.9833
41    Hithadhoo      MV     81.25  -0.6000   73.0833